@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    height: 100vh;

    grid-template-rows: 90px 1fr 70px;

    font-family: sans-serif;
    color: #1c2e54;
    margin: 0 2rem;
}

a {
    text-decoration: none;
    color: #1c2e54;
    font-size: 18px;
    font-weight: 600;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr 200px;

    /* padding-top: 1.3rem; */
    place-items: center start;
}

main {
    display: grid;

    grid-template-rows: 60px 1fr;
}

footer {
    background-color: #eeeeee;
    margin: 0 -2rem;
    padding: 0 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul {
    display: grid;

    grid-template-columns: repeat(3, 70px);

    list-style: none;
}

.list-secction {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(269px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

.image-list-secction {
    max-width: 100%;

}

.item-list-secction {
    display: grid;

    grid-auto-flow: row;
    gap: 1.2rem;
    position: relative;
}

.name-list-secction{
    font-weight: 700;
}
.price-list-secction {
    font-size: 21px;
    font-weight: 700;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}

.tile-footer {
    place-self: center start;
}

.country-footer {
    place-self: center end;
}

.one-item-main{
    display: grid;

    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 2rem 0;
}

.one-item-image {
    max-width: 100%;
    height: 470px;
    justify-self: end;
    padding-right: 2rem;
}

.one-name-list-secction {
    font-size: xx-large;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.one-item-button{
    padding: 1rem;
    background: linear-gradient(0.35turn, #497da7, #573ba7);
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-weight: 700;
}

.one-item-button:hover {
    background: linear-gradient(0turn, #3f13a7, #137da7);

}


.new-item{
    background-color: royalblue;
    color: #ffffff;

    position: absolute;
    top: -1.5rem;
    right: 0;
    padding: 0.2rem;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.shopping-list {
    position: relative;
}

.item-in-shopping-list {
    background-color: red;
    color: #ffffff;
    font-size: x-small;
    padding: 0.2rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

header button {
    background-color: #ffffff;
    border: none;
}

/* modal */
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  
    background-color: #00000030;
  
    backdrop-filter: blur(2px);

    display: grid;
    place-items: center;
  }
  
  .modal {
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem 3rem;
  
    position: relative;
  }
  
  .modal__close-btn {
    position: absolute;
    top: 0;
    right: 0;
  
    background: none;
    border: none;
    padding: 0.7rem;
  }

.search-input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.7rem;
    border: solid 1px rgb(0, 119, 255);
    border-radius: 3rem;
    outline: none;
}
